@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');



// Set your brand colors
$purple: #8A4D76;
$pink: #FD5046;
$my-green: #5bee77;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$darkgray: #111827;
$flouroscent: #c3df12d4;

// Update Bulma's global variables
$family-sans-serif: "Lato", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $my-green;
$widescreen-enabled: true;
$fullhd-enabled: true;

// text

$text: $beige-lighter;
$text-strong:$beige-lighter;

// Update some of Bulma's component variables
$body-background-color: $darkgray;
$body-size: 16px;
$body-color:$text;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

$title-color:$text-strong;
$title-size: 1.5rem;



// links
$link-hover:$pink;
$link-focus:$pink;
$link-active:$pink;

@import "../../node_modules/bulma/bulma.sass";
@import "../../node_modules/bulma/sass/utilities/initial-variables.sass";