/* @import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    color: #272525;
    font-family: "Lato","Helvetica", "Arial", sans-serif;
    font-size: large;
}