
body{
    font-size: 1.5em;
}

.postpadding {
    padding-left: 20rem;
}

/* for mobile */
@media screen and (max-width: 1023px) {
    .postpadding {
        padding-left: 0.5rem;
    }

    body{
        font-size: 1.25em;
    }
}