/* @import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500'; */
@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    font-family: "Recursive","Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    color: #555;
}
a {
    text-decoration: none;
    color: rgb(85, 101, 111);
}
a:hover,
a:focus {
    background-color: none !important;
    text-decoration: underline;
    text-decoration-color: #ff6564;
    text-decoration-line: underline;
    
}

h3 {
    font-weight: 100;
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

.sidebar {
    background: rgb(61, 79, 93);
    color: #fff;
}

.brand-title,
.brand-tagline {
    margin: 0;
}
.brand-title {
    text-transform: uppercase;
}
.brand-tagline {
    font-weight: 300;
    color: rgb(176, 202, 219);
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.nav-item a {
    background: transparent;
    border: 2px solid rgb(176, 202, 219);
    color: #fff;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
    border: 2px solid rgb(61, 146, 201);
    text-decoration: none;
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content {
    padding: 2em 1em 0;
}

.post {
    padding-bottom: 2em;
}
.post-title {
    font-size: 1.15em;
    color: #222;
    margin-bottom: 0.2em;
}
.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}
.post-description {
    font-family: Georgia, "Cambria", serif;
    color: #444;
    line-height: 1.8em;
}
.post-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}

.post-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: #999;
    font-size: 80%;
}
    .post-category-design {
        background: #5aba59;
    }
    .post-category-pure {
        background: #4d85d1;
    }
    .post-category-yui {
        background: #8156a7;
    }
    .post-category-js {
        background: #df2d4f;
    }

.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

.footer {
    --min: 15ch;
    --gap: 1rem;
  
    display: grid;
    grid-gap: var(--gap);
    grid-template-columns: repeat(auto-fit, minmax(var(--min), 1fr));
    padding: 1em 0;
  }


.footer a {
    /* color: #ccc; */
    font-size: 100%;
}

svg {
        position: relative;
        /* Adjust these values accordingly */
        top: 5px;
        /* left: 5px; */
}

@media (min-width: 48em) {
    .content {
        padding: 2em 3em 0;
        margin-left: 30%;
    }

    .header {
        margin: 80% 2em 0;
        text-align: right;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }

    .footer {
        text-align: center;
    }
}

.button-success,
        .button-error,
        .button-warning,
        .button-secondary {
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        }


        .button-success {
            background: rgb(28, 184, 65);
            /* this is a green */
        }

        .button-error {
            background: rgb(202, 60, 60);
            /* this is a maroon */
        }

        .button-warning {
            background: rgb(223, 117, 20);
            /* this is an orange */
        }

        .button-secondary {
            background: rgb(66, 184, 221);
            /* this is a light blue */
        }

        /* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap'); */

        :root {
            --background: #FFF;
            --text: #000;
            --highlight: #4d4a4a;
       }

       #mode_div{
           display:flex;
       }

       .switch_sun{
           float: left;
       }

       .switch_moon{
        float: right;
    }
        
        .color-switch {
            --background: #fff;
            --text: #000;
            color: var(--text);
            width: 50px;
            /* width: 70px; */
            height: 28px;
            /* height: 30px; */
            background: var(--highlight);
            border-radius: 30px;
            /* border-radius: 50px; */
            position: relative;
          cursor: pointer;
       }
        .color-switch .switch {
            background: white;
            width: 20px;
            height: 20px;
            background: var(--background);
            border-radius: 100%;
            position: absolute;
            top: 3px;
            left: 4px;
            transition: 0.5s all ease;
       }
        .dark-theme {
            --background: #010221;
            --text: #c6c6ca;
          --highlight: #4d4a4a;
            background: var(--background);
       }
        .dark-theme .color-switch {
            background: var(--highlight);
       }
        .dark-theme .color-switch .switch {
            transform: translateX(23px);
       }
        .dark-theme a {
            color: var(--text);
       }
       .dark-theme div {
        color: var(--text);
   }
       .dark-theme img {
            mix-blend-mode: difference;
       }
        .navigation {
            display: flex;
            justify-content: center;
       }
        
     